.react-tabs {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgba(209, 209, 214, 1);
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
}

.react-tabs__tab--selected {
  background: rgba(255, 215, 92, 0.1);
  color: rgba(242, 204, 88, 1);
  border-bottom: 1px solid rgba(242, 204, 88, 1);
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
  padding: 16px 0;
  height: 100%;
}

.react-tabs__tab-panel--selected {
  display: block;
}
